<!DOCTYPE html>
<html>
<head>
	<title>Text Summarizer</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
	<header>
		<div class="main">
			<a href="#">Text Summarizer</a>

			<ul class="nav-button">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
		<div class="container">
			<form action = "/text-summarizer" method = "POST">
         		<p>Text here <input type = "text" name = "Text" /></p>
         		<p><input id="ver" type = "submit" value = "Summarize this" /></p>
      		</form>

      		<form action = "/text-summarizer" method = "POST">
         		<p>Wikipedia url here <input type = "text" name = "Text" /></p>
         		<p><input id="ver" type = "submit" value = "Summarize this" /></p>
      		</form>

      		<form action = "/text-summarizer" method = "POST" enctype = "multipart/form-data">
         		<input type = "file" name = "file" />
         		<p><input id="ver" type = "submit" value = "Summarize a document file (.pdf, .docx, .odt)"/></p>
      		</form>
		</div>
		<button id="toggle" onclick="myFunction()">dark/light</button>
	</header>
</body>
</html>
